# Modélisation : content filtering
Nous allons utiliser ici en mesure de similarité le produit scalaire (parmi : Cosinus, dist euclidienne)

Au niveau du contenu nous allons utiliser la catégorie de l'article en one hot vector concaténée avec le nombre de mots

Pour un utilisateur, nous utiliserons la catégorie la plus cliquée ainsi que la longueur moyenne des articles

In [1]:
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as plt

## Lecture des articles

In [13]:
articles_df = pd.read_csv('data/articles_metadata.csv')
articles_emb = pickle.load(open("data/articles_embeddings.pickle","rb"))

## Recherche des catégories d'articles cliquées

In [3]:
clicks_by_hour_df = pd.DataFrame()
for i in range(385):
    index = str(i).zfill(3)
    if i%10 == 0:
        print("Reading file index :",index)
    clicks_df = pd.read_csv('data/clicks/clicks_hour_'+index+'.csv')
    clicks_by_hour_df = clicks_by_hour_df.append(clicks_df)

Reading file index : 000
Reading file index : 010
Reading file index : 020
Reading file index : 030
Reading file index : 040
Reading file index : 050
Reading file index : 060
Reading file index : 070
Reading file index : 080
Reading file index : 090
Reading file index : 100
Reading file index : 110
Reading file index : 120
Reading file index : 130
Reading file index : 140
Reading file index : 150
Reading file index : 160
Reading file index : 170
Reading file index : 180
Reading file index : 190
Reading file index : 200
Reading file index : 210
Reading file index : 220
Reading file index : 230
Reading file index : 240
Reading file index : 250
Reading file index : 260
Reading file index : 270
Reading file index : 280
Reading file index : 290
Reading file index : 300
Reading file index : 310
Reading file index : 320
Reading file index : 330
Reading file index : 340
Reading file index : 350
Reading file index : 360
Reading file index : 370
Reading file index : 380

In [4]:
clicks_by_hour_df

,user_id,session_id,session_start,session_size,click_article_id,click_timestamp,click_environment,click_deviceGroup,click_os,click_country,click_region,click_referrer_type
0,0,1506825423271737,1506825423000,2,157541,1506826828020,4,3,20,1,20,2
1,0,1506825423271737,1506825423000,2,68866,1506826858020,4,3,20,1,20,2
2,1,1506825426267738,1506825426000,2,235840,1506827017951,4,1,17,1,16,2
3,1,1506825426267738,1506825426000,2,96663,1506827047951,4,1,17,1,16,2
4,2,1506825435299739,1506825435000,2,119592,1506827090575,4,1,17,1,24,2
...,...,...,...,...,...,...,...,...,...,...,...,...
2564,10051,1508211372158328,1508211372000,2,84911,1508211557302,4,3,2,1,25,1
2565,322896,1508211376302329,1508211376000,2,30760,1508211672520,4,1,17,1,25,2
2566,322896,1508211376302329,1508211376000,2,157507,1508211702520,4,1,17,1,25,2
2567,123718,1508211379189330,1508211379000,2,234481,1508211513583,4,3,2,1,25,2
2568,123718,1508211379189330,1508211379000,2,233578,1508211543583,4,3,2,1,25,2

Nous récupérons les articles cliqués par l'utilisateur

In [5]:
user_id = 0

In [6]:
article_interest_df = clicks_by_hour_df[clicks_by_hour_df.user_id == user_id]['click_article_id']

In [7]:
article_interest_df

0       157541
1        68866
7412     96755
7413    313996
4881    160158
4882    233470
1811     87224
1812     87205
Name: click_article_id, dtype: object

Recherchons les catégories des articles

In [11]:
articles_categories = articles_df[articles_df.article_id.isin(article_interest_df)].category_id
articles_categories

68866     136
87205     186
87224     186
96755     209
157541    281
160158    281
233470    375
313996    431
Name: category_id, dtype: int64

In [17]:
category_freqs = articles_df[articles_df.article_id.isin(article_interest_df)].category_id.value_counts()
category_freqs

281    2
186    2
375    1
431    1
209    1
136    1
Name: category_id, dtype: int64

In [85]:
def get_recommendations(user_id,articles_df,clicks_by_hour_df,articles_emb,top_k = 5):
    
    article_interest_df = clicks_by_hour_df[clicks_by_hour_df.user_id == user_id]['click_article_id']
    articles_categories = articles_df[articles_df.article_id.isin(article_interest_df)].category_id
    category_freqs = articles_df[articles_df.article_id.isin(article_interest_df)].category_id.value_counts()
    
    cf = category_freqs.index.to_series()
    cat=cf.to_numpy()[0]
    print("Selected category :",cat)
    selected_article = articles_categories[articles_categories==cat].index[0]
    exclude_list = articles_categories[articles_categories==cat].index.to_numpy()
    print("Exclude list :",exclude_list)
    print("Selected article :",selected_article)
    current_emb = articles_emb[selected_article]
    print("Article embedding :",current_emb)
    
    similarities = np.dot(current_emb,np.transpose(articles_emb))
    print("Similarities shape",similarities.shape)
    to_retrieve = (top_k + len(exclude_list))-1
    selected = similarities.argsort()[-to_retrieve:]
    print("Articles selectionnés :",selected)
    filtered = set(selected) - set(exclude_list)
    print("Filtered :",filtered)
    
    return list(filtered)

In [86]:
user_id = 0

rec = get_recommendations(user_id,articles_df,clicks_by_hour_df,articles_emb, top_k=5)

print(rec)

Selected category : 281
Exclude list : [157541 160158]
Selected article : 157541
Article embedding : [ 0.04563604 -0.9817215  -0.3488117   0.13537404  0.18759827  0.46154243
 -0.7924494   0.5103028   0.03752192 -0.04350547  0.7562447  -0.3990103
 -0.765851   -0.2971812   0.44985953 -0.31984672 -0.01483636 -0.19543175
 -0.68874836 -0.7412663   0.5747204  -0.18989867  0.27447984  0.44798225
 -0.48008433 -0.715874    0.6232814   0.41901016 -0.8594551   0.6883967
  0.8074732   0.6078273   0.77360547 -0.8022254  -0.82356477 -0.17657441
  0.5343014   0.37477484 -0.669281   -0.72143614 -0.07189102  0.10664697
  0.87900984 -0.9698581  -0.7696766   0.5552143  -0.6911229  -0.17906854
 -0.04259193 -0.58978194 -0.04458507  0.1946762  -0.01661651 -0.6879604
  0.37235388  0.7880901  -0.15220796  0.43662453  0.9619818   0.0172913
  0.9440444   0.84787196 -0.52713937 -0.27290303 -0.2106504   0.41728926
  0.82955945  0.60010344 -0.33098266  0.02484715  0.15784632 -0.32729748
  0.6672566  -0.7081773   0.8226783  -0.23555934 -0.07111167 -0.35111088
  0.6686807  -0.39010072 -0.5461707   0.16239075  0.6872202  -0.68789864
 -0.09511082 -0.8221937   0.5156274   0.60901415 -0.05206004 -0.24023317
  0.40227646  0.40944323 -0.04664782  0.43596968  0.1524825   0.50826216
  0.55190593  0.23836513  0.09500484 -0.3578642   0.09516154 -0.531597
 -0.1141995   0.2963015  -0.69657445  0.17560107 -0.0064306  -0.00808084
  0.14211877  0.28694993 -0.55674213  0.7545799  -0.79376966  0.03784083
  0.26076317 -0.8396257   0.40322092 -0.47777477 -0.6598468  -0.0167995
 -0.80697906  0.5007696   0.09482651  0.5266112  -0.39225248 -0.01827191
  0.37146443  0.92674565 -0.7576498  -0.4716068   0.15914527  0.6101847
 -0.51943874  0.54446954  0.96936095  0.54908717  0.37983447  0.82432127
  0.07541207  0.08324618 -0.87283874 -0.6328307   0.5862367  -0.36910588
  0.3597377  -0.03663558 -0.6918579   0.5264456  -0.29247436 -0.85168666
  0.94721735  0.14191037  0.17723066  0.8112367   0.08600391 -0.07571363
  0.5884019   0.47814858  0.7719693  -0.579768    0.34111896 -0.54356766
  0.8633626   0.74906707  0.8021872  -0.21835038  0.4034715   0.8115684
  0.2578046   0.51477754  0.6121142  -0.40662196  0.35899976 -0.3212849
 -0.49302596  0.8729007  -0.28548276  0.12179164  0.6882988   0.06792951
 -0.26092154  0.17266254  0.06771306 -0.3932297   0.8656065   0.7571187
  0.2471314  -0.37194794  0.05343708 -0.6303255  -0.6872117   0.8110101
 -0.0786029  -0.5347364   0.51361644  0.5816082   0.36749023  0.10669083
 -0.9705461  -0.10370009  0.49414912 -0.3669012   0.27652416  0.16927026
  0.14391038 -0.23339112 -0.609301   -0.01105902  0.09955618  0.52906495
 -0.43666983 -0.882009   -0.24017774 -0.6052895  -0.44602868 -0.6331054
 -0.19180664  0.2915849  -0.93852025  0.4653721  -0.12431278  0.960148
  0.17713192  0.45675763  0.78579265 -0.4142716  -0.30280837  0.83813685
  0.9200363   0.43050638 -0.67770004 -0.82347655 -0.7333046  -0.5299069
 -0.3341475  -0.8972769   0.727085   -0.7569692   0.09259488  0.6958953
  0.67025983  0.2990594  -0.8267971  -0.81206983  0.38240394 -0.08198348
 -0.802341   -0.4184863   0.1679776   0.27869353]
Similarities shape (364047,)
Articles selectionnés : [161687 162343 157519 156355 162369 157541]
Filtered : {162369, 156355, 162343, 157519, 161687}
[162369, 156355, 162343, 157519, 161687]